body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.gray{
    color: rgb(102, 47, 47);
}
.flexibel-containe {
    display: flex;
    margin-bottom: 200px;  
}
.marg{
    margin-top: 200px;
}
.harf-with{
    width: 50%;
    padding-left: 2%;
  
}
.harf-with img{
    width: 70%;
}
.button {
    text-decoration: none;
    background-image: linear-gradient(lightpink ,lightgreen);
    padding: 60px 40x;
    padding: 5px 10px 5px 10px;
    color: rgb(174, 26, 26);
    font-weight: 900;
    border-radius: 2px;
}

.top-banner{
    background-image: url();
    background-repeat: no-repeat;
}
.midle{
    background-image: url(eat-healthy-main/images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.expreience-area {
    background-image: url();
    background-repeat:no-repeat ;
    background-position: left bottom;
    background-size: 99px auto;
    
}
.expreience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 50px white;
    border-radius: 10px;
    border-left: 7px solid blue;
}
h6{
    font-size: 20px;
}
#full-stack-developer{
    border-left: 7px solid tomato;
}
footer p{
    text-align: center;
}
#col {
    background-color:aqua;
    border-radius: 2px;
    padding: 10px 20px 10px 10px;
}body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.aqua{
    color: aqua;
}
.flexibel-containe {
    display: flex;
    margin-bottom: 200px;  
}
.harf-with{
    width: 50%;
    padding-left: 2%;
  
}
.harf-with img{
    width: 80%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 60px 40x;
    padding: 5px 10px 5px 10px;
    color: lightgray;
    font-weight: 900;
    border-radius: 2px;
}

.top-banner{
    background-image: url();
    background-repeat: no-repeat;
}
.dream-p{
    background-image: url();
    background-repeat: no-repeat;
    background-position: right;
}
.expreience-area {
    background-image: url();
    background-repeat:no-repeat ;
    background-position: left bottom;
    background-size: 99px auto;
    
}
.expreience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 50px gray;
    border-radius: 10px;
    border-left: 7px solid blue;
}
h2{
    font-size: 40px;
}
#full-stack-developer{
    border-left: 7px solid tomato;
}
footer p{
    text-align: center;
}
#col {
    background-color:aqua;
    border-radius: 2px;
    padding: 10px 20px 10px 10px;
}